apiVersion: v2
name: harvester-cloud-provider
description: A Helm chart for Harvester Cloud Provider

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application
keywords:
  - infrastructure
  - harvester

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 0.1.6

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
appVersion: v0.1.1

annotations:
  catalog.cattle.io/certified: rancher
  catalog.cattle.io/namespace: kube-system
  catalog.cattle.io/experimental: "true"
  catalog.cattle.io/release-name: harvester-cloud-provider
  catalog.cattle.io/os: linux
  catalog.cattle.io/rancher-version: ">= 2.6.1-0 <= 2.6.99-0"
  catalog.cattle.io/ui-component: harvester-cloud-provider
  catalog.cattle.io/display-name: Harvester Cloud Provider
  # A SemVer range of compatible Kubernetes versions, just like Helm's kubeVersion.
  # The difference is that ours will only hide the chart in the dashboard UI, and still
  # allow users to edit (helm upgrade) the chart; the helm's kubeVersion disables edit in installed charts.
  catalog.cattle.io/kube-version: ">= 1.18"
  # The version of the upstream chart or app. It prevents the unexpected "downgrade"
  # when upgrading an installed chart that uses our 100.x.x+upVersion version schema.```
  catalog.cattle.io/upstream-version: "0.1.5"

maintainers:
  - name: harvester
