apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "forklift-operator.fullname" . }}-forklift-api-role
  labels:
  {{- include "forklift-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - forklift.konveyor.io
  resources:
  - plans
  - providers
  - storagemaps
  - hosts
  verbs:
  - get
  - list
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - network-attachment-definitions
  verbs:
  - get
  - list
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "forklift-operator.fullname" . }}-forklift-api-rolebinding
  labels:
  {{- include "forklift-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "forklift-operator.fullname" . }}-forklift-api-role'
subjects:
- kind: ServiceAccount
  name: forklift-api
  namespace: '{{ .Release.Namespace }}'
