apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "forklift-operator.fullname" . }}-leader-election-role
  labels:
  {{- include "forklift-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - namespaces
  verbs:
  - '*'
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  - prometheusrules
  verbs:
  - get
  - create
  - update
  - patch
  - list
  - watch
- apiGroups:
  - apps.openshift.io
  resources:
  - deploymentconfigs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps
  resourceNames:
  - forklift-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - forklift.konveyor.io
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
- apiGroups:
  - build.openshift.io
  resources:
  - builds
  - buildconfigs
  - buildconfigs/instantiate
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - image.openshift.io
  resources:
  - imagestreamtags
  - imagestreams
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "forklift-operator.fullname" . }}-leader-election-rolebinding
  labels:
  {{- include "forklift-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "forklift-operator.fullname" . }}-leader-election-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "forklift-operator.serviceAccountName" . }}'
  namespace: '{{ .Release.Namespace }}'
