apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "harvester-load-balancer.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "harvester-load-balancer.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: {{ include "harvester-load-balancer.name" . }}
rules:
  - apiGroups: [ "loadbalancer.harvesterhci.io" ]
    resources: [ "loadbalancers", "ippools" ]
    verbs: [ "get", "watch", "list", "update", "create", "delete" ]
  - apiGroups: [ "" ]
    resources: [ "services", "configmaps" ]
    verbs: [ "get", "watch", "list", "update", "create" ]
  - apiGroups: [ "coordination.k8s.io" ]
    resources: [ "leases" ]
    verbs: [ "*" ]
  - apiGroups: [ "discovery.k8s.io" ]
    resources: [ "endpointslices" ]
    verbs: [ "get", "watch", "list", "update", "create", "delete" ]
  - apiGroups: [ "k8s.cni.cncf.io" ]
    resources: [ "network-attachment-definitions" ]
    verbs: [ "get", "watch", "list" ]
  - apiGroups: [ "kubevirt.io" ]
    resources: [ "virtualmachineinstances", "virtualmachines" ]
    verbs: [ "get", "watch", "list", "update" ]
  - apiGroups: [ "apiextensions.k8s.io" ]
    resources: [ "customresourcedefinitions" ]
    verbs: [ "get", "watch", "list", "update" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "harvester-load-balancer.name" . }}
  labels:
    {{- include "harvester-load-balancer.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "harvester-load-balancer.name" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "harvester-load-balancer.name" . }}
    namespace: {{ .Release.Namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "harvester-load-balancer.name" . }}-webhook
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "harvester-load-balancer-webhook.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: {{ include "harvester-load-balancer.name" . }}-webhook
rules:
  - apiGroups: [ "" ]
    resources: [ "secrets", "configmaps" ]
    verbs: [ "get", "watch", "list", "update", "create" ]
  - apiGroups: [ "" ]
    resources: [ "namespaces" ]
    verbs: [ "get", "watch", "list" ]
  - apiGroups: [ "coordination.k8s.io" ]
    resources: [ "leases" ]
    verbs: [ "*" ]
  - apiGroups: [ "apiregistration.k8s.io" ]
    resources: [ "apiservices" ]
    verbs: [ "get", "watch", "list" ]
  - apiGroups: [ "apiextensions.k8s.io" ]
    resources: [ "customresourcedefinitions" ]
    verbs: [ "get", "watch", "list", "update" ]
  - apiGroups: [ "admissionregistration.k8s.io" ]
    resources: [ "validatingwebhookconfigurations", "mutatingwebhookconfigurations" ]
    verbs: [ "*" ]
  - apiGroups: [ "k8s.cni.cncf.io" ]
    resources: [ "network-attachment-definitions" ]
    verbs: [ "get", "watch", "list" ]
  - apiGroups: [ "loadbalancer.harvesterhci.io" ]
    resources: [ "ippools" ]
    verbs: [ "get", "watch", "list" ]
  - apiGroups: [ "kubevirt.io" ]
    resources: [ "virtualmachineinstances", "virtualmachines" ]
    verbs: [ "get", "watch", "list" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "harvester-load-balancer.name" . }}-webhook
  labels:
    {{- include "harvester-load-balancer-webhook.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "harvester-load-balancer.name" . }}-webhook
subjects:
  - kind: ServiceAccount
    name: {{ include "harvester-load-balancer.name" . }}-webhook
    namespace: {{ .Release.Namespace }}
