---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    {}
  creationTimestamp: null
  name: hostnetworkconfigs.network.harvesterhci.io
spec:
  group: network.harvesterhci.io
  names:
    kind: HostNetworkConfig
    listKind: HostNetworkConfigList
    plural: hostnetworkconfigs
    shortNames:
    - hnc
    - hncs
    singular: hostnetworkconfig
  scope: Cluster
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              clusterNetwork:
                description: Required, non-empty
                minLength: 1
                type: string
              description:
                type: string
              ips:
                additionalProperties:
                  maxLength: 50
                  type: string
                  x-kubernetes-validations:
                  - message: Invalid CIDR format
                    rule: isCIDR(self)
                description: Optional map, validated if mode=static
                maxProperties: 500
                type: object
              mode:
                description: Required, non-empty, only 'static' or 'dhcp'
                enum:
                - static
                - dhcp
                minLength: 1
                type: string
              nodeSelector:
                description: |-
                  Optional: select target nodes by labels
                  If empty, applies to all nodes
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
              underlay:
                type: boolean
              vlanID:
                description: Required, must be 1-4094
                maximum: 4094
                minimum: 1
                type: integer
            required:
            - clusterNetwork
            - mode
            - vlanID
            type: object
            x-kubernetes-validations:
            - message: spec.ips must be specified and non-empty when mode is static
              rule: self.mode != 'static' || (has(self.ips) && size(self.ips) > 0)
          status:
            properties:
              conditions:
                description: global observed state
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    lastUpdateTime:
                      description: The last time this condition was updated.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              nodeStatus:
                additionalProperties:
                  properties:
                    clusterNetwork:
                      description: cluster network
                      type: string
                    conditions:
                      description: Node-specific conditions
                      items:
                        properties:
                          lastTransitionTime:
                            description: Last time the condition transitioned from
                              one status to another.
                            type: string
                          lastUpdateTime:
                            description: The last time this condition was updated.
                            type: string
                          message:
                            description: Human-readable message indicating details
                              about last transition
                            type: string
                          reason:
                            description: The reason for the condition's last transition.
                            type: string
                          status:
                            description: Status of the condition, one of True, False,
                              Unknown.
                            type: string
                          type:
                            description: Type of the condition.
                            type: string
                        required:
                        - status
                        - type
                        type: object
                      type: array
                    mode:
                      description: mode static or dhcp
                      type: string
                    vlanID:
                      description: vlan id
                      type: integer
                  required:
                  - clusterNetwork
                  - mode
                  - vlanID
                  type: object
                description: |-
                  Per-node observed state
                  key = node name
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
